#Container{
    width:80%;
    height:80px;
    margin:0 auto;
}

#Header{
    width:100%;
    height:70px;
    }
    #Mainbody{
        
        
        
    }/*
T
 Mao change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 16, 2018, 11:58:58 AM
    Author     : User
*/

